body {
  background-color: #33ccff;
  color: #000000;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  font-size: 16px;
}

/** Header **/
#header-name {
  border-radius: 0;
  border: 0;
}
h1, h2, h3 {
  margin: 10px 10px;
  line-height: 1;
  font-family: 'Exo', serif;
  font-weight: bold;
}
h1 {
  color: #4d4d4d;
}
.navbar, navbar-default {
  margin-bottom: 10px;
}
.navbar-brand {
  height: 60px;
}
.container {
  margin: 0;
  width: 100%;
}
.navbar-brand h1 {
	padding-top: 0;
	margin-top: 0;
	text-shadow: 2px 2px 2px #222;
	text-transform: uppercase;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  background-color: #33ccff;
  width: 100%;
}
#nav-list a:hover, #nav-list a:focus {
  background-color: #cccccc;
  color: #ffffff;
}
li.divider{
  border: 1px solid #e6e6e6;
}
/** End Header **/

/** Main Content **/
.surround-box {
  padding: 15px;
  font-size: 1.1em;
  background-color: silver;
}
.col-lg-4, .col-md-4, .col-sm-12, .col-xs-12 {
  padding: 10px;
}

.row {
  padding: 0px 10px;
}

/** End Main Content **/

/** Media Queries **/
/********** Large devices only **********/
@media (min-width: 1200px) {
p {
  height: 300px;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
p {
  height: 300px;
}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
#nav-list li {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
}

/** End Media Queries **/